body{
    margin: 0px;
    font-family: 'Poppins', sans-serif;
}
 h1{
    font-size: 50px;
}
section{
    height: 500px;
    padding-bottom: 150px;
}
span{
    color:orange
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.half-width{
    width: 40%;
    margin-left: 5%;
    padding-left: 2%;
    padding-bottom: 50px;
}
.link1{
    text-decoration: none;
    background-image: linear-gradient(45deg, lightsalmon, tomato);
    padding: 10px 20px;
    color: white;
    font-weight: 700;
    border-radius: 5px;
    font-size: 16px;
}
.flex-box{
    display: flex;
}
.half-width img{
    width: 100%;
}
.dream-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.experience{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
#full-stack{
    box-shadow:10px 20px 40px gray ;
    border-left: 10px solid greenyellow  ;

}
#baby-stack{
    box-shadow:10px 20px 40px gray ;
    border-left: 10px solid slateblue;
}
.experience h3{
    color: orange;
}
